#![enable(implicit_some)]
Container(
    transform: (
        id: "paused_background",
        anchor: Middle
    ),
    background: SolidColor(0.0, 0.0, 0.0, 1.0),
    children: [
        Label(
            transform: (
                id: "title",
                anchor: Middle,
                x: 0.0,
                y: 100.0,
                z: 1.0,
                height: 100.0,
                width: 500.0
            ),
            text: (
                text: "GAME PAUSED",
                font_size: 40,
                color: (1.0, 1.0, 1.0, 1.0),
                align: Middle
            )
        ),
        Label(
            transform: (
                id: "blink",
                anchor: Middle,
                x: 0.0,
                y: 0.0,
                z: 1.0,
                height: 50.0,
                width: 500.0
            ),
            text: (
                text: "<< Press ESCAPE to resume playing >>",
                font_size: 20,
                color: (1.0, 1.0, 1.0, 1.0)
            )
        )
    ]
)
